<app-header-sign-up></app-header-sign-up>
<div class="login-container">
    <div class="login-left">
        <img src="../Side Image.png" class="login-image" alt="Shopping Cart and Phone">
    </div>
    <div class="login-right">
        <h2>Log in to Exclusive</h2>
        <p class="subtitle">Enter your details below</p>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email or Phone Number" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="login-actions">
                <button type="submit" class="btn btn-login">Log In</button>
                <a href="$" class="forget-password">Forget Password?</a>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>